.{
  height: 0px;
  width: 0px;
}

.regist{
padding-top: 40px;
}

.row{
  margin-top: 10px;
  background-color: #dce0e3;

}

.InfoTexto{
  display:inline-grid;
  justify-content: center;
}

.InfoTexto img{
  width: 400px;
  margin-top: 40px;
  padding-left: 100px;
}

.InfoTexto .t1{
  padding-top: 40px;
  margin-right: 80px;
  margin-left: 50px;
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  text-align:center;
  color:#696568;
}

.logotipotrabajador{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.logotipo{
  width: 25%;
  margin: 0;
  border-radius: 50%;
}
